body {
  background-color: #FFFFFF;
  font-family: 'Poppins', sans-serif;
}

.wrapper {
  background-color: white;
  width: 500px;
  padding: 20px;
  text-align: center;
  margin:0 auto;
  position: relative;
}

.tasks {
  margin-left: 60px;
  margin-bottom: 120px;
  text-align: left;
  width: 50%;
}

h1 {
  font-weight: bold;
  font-size: 60px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#167FFB, #0F60C4);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
}

.btn-gradient:hover {
  background: linear-gradient(#147EFF, #0F67DA);
  color: white;
}

form {
  display: flex;

  flex-direction: column;

  text-align: left;
}

input {
  margin-bottom: 20px;
}

#btn-edit {
  position: absolute;
  top: 10px;
  right: 50px;
}
